#time{   
    position: absolute; 
    top: 50%; 
    left: 50%;
    color: black;
    pointer-events: none;
}

#timelabel {
    position: absolute;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    font-family: "courier new",monospace;
}


#date{   
    position: absolute; 
    top: 50%; 
    left: 50%;
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#datelabel {
    position: absolute;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    line-height: 50px;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    font-family: "courier new",monospace;
    
}

